<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
          <link rel="stylesheet" href="/static/css/portfolio.css">
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      

    <title>PortFolio</title>
    
</head>
<body>

<!-- ----------------------navbar--------------------- -->
 <nav class="navbar navbar-expand-lg  py-4 pt-lg-5 ">
  
            <span> &lt;</span>
            <span id="logo-name">Sarvesh Sharma</span>
            <span>/&gt;</span>
      
        <button id="toggle" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                <li class=" nav-item">
                    <a  aria-current="page" class="nav-link active" href="/templates/portfolio.html">Home</a>
                </li>
                <li class=" nav-item">
                    <a class=" nav-link" href="http://127.0.0.1:5000/">My Project</a>
                </li>
                
                <li class=" nav-item">
                    <a download="" class=" nav-link" href="../static/images/Sarvesh-Sharma-CV.pdf">Resume</a>
                </li>


            </ul>

        </div>
    </div>
</nav> 


<!-- ---------------------------about me section--------------------- -->

<div class="container my-5">
    <div class="row">
        <div class="col-md-6 slide-in-left ">
            <div class="heading">
                <h1>Sarvesh Sharma</h1>
            </div>
            <h2 class="greeting-nickname">(Web Developer Engineer)</h2>
            <p class="paragraph-main">As a passionate web developer, I am driven by the desire to create end-to-end
                solutions that not only meet technical excellence but also contribute to building sustainable and
                highly scalable systems with a meaningful social impact.</p>
            <div class="social">

                <a href="mailto:sarveshsharma12345678@gmail.com" target="_blank">
                    <i class="material-icons" style="font-size:42px; ">mail</i>
                </a>
                <a href="https://github.com/sarvesh988" target="_blank">
                    <i class="fa fa-github" style="font-size:45px ;color: black;"></i>
                </a>
                <a href="https://www.linkedin.com/in/sarvesh-sharma883/" target="_blank">
                    <i class="fa fa-linkedin-square" style="font-size:40px"></i>
                </a>
                

            </div>
            <a href="https://github.com/sarvesh988" target="_blank">
                <button id="button" type="button" class="btn btn-primary">
                    <i class="fa fa-star checked yellow" style="font-size: 24px;"></i> Star Me On Github
                </button>
            </a>


        </div>

        <!-- ---------------------------------card section--------------------- -->
        <div class="col-md-6 col-sm-12 slide-in-right ">
            <img class="image-main" src="/static/images/laptopgif.webp" class="rounded float-right" alt="...">
        </div>

    </div>
</div>

<!-- --------------------------- fronted skills section--------------------- -->
<section class=" services-section">
    <div class="container text-center common-title fw-bold">
        <h2 class="common-heading">My Skill <br>As a Fronted Web Developer</h2>
        <hr class="w-25 mx-auto ">
    </div>

    <div   class="container mt-5">
        <div class="row g-5 ">
            <div class="col-xxl-4 col-lg-4 col-12 ">
                <div style="height: 600px; " class=" card-box rounded-2 p-5 text-center shadow">
                    <img alt="GIF Image" class="img-fluid" src="https://cdn.dribbble.com/users/783/screenshots/104300/shot_1295820312.gif"  width="200px">

                    <h5 class="my-3 fw-normal "> HTML5</h5>
                    <p class="pe-3 mb-5">
                        HTML is the foundational language of the web. It defines the structure and content of a web page by using tags to organize elements like headings, paragraphs, images, and links. HTML provides the backbone of a webpage's structure.
                    </p>
                </div>
            </div>

            <div class="col-xxl-4 col-lg-4 col-12  ">
                <div style="height: 600px;" class=" card-box rounded-2 p-5 text-center shadow">
                    <img alt="GIF Image" class="img-fluid" src="/static/images/css3.gif" width="200px">

                    <h5 class="my-3 fw-normal"> CSS3 </h5>
                    <p class="pe-3 mb-5">
                        CSS complements HTML by controlling the presentation and layout of web content. It allows developers to apply styles, such as colors, fonts, margins, and spacing, to HTML elements, ensuring a visually appealing and consistent design across the website.
                    </p>
                   
                </div>
            </div>

            <div class="col-xxl-4 col-lg-4 col-12 ">
                <div style="height: 600px;" class=" card-box rounded-2 p-5 text-center shadow">
                    <img alt="GIF Image" class="img-fluid" src="https://media.tenor.com/TReUojNlZ6wAAAAi/js-javascript.gif" width="200px">
                    <h5 class="my-3 fw-normal "> JAVASCRIPT </h5>
                    <p class="pe-3 mb-5">
                        JavaScript is a versatile scripting language that adds interactivity and dynamic behavior to web pages. It enables developers to create responsive features like forms, animations, and real-time updates.
                    </p>
                   
                </div>
            </div>
            
        </div>
    </div>
    
    <div   class="container mt-5">
        <div class="row g-5 ">
            <div class="col-xxl-4 col-lg-4 col-12 ">
                <div style="height: 600px; " class=" card-box rounded-2 p-5 text-center shadow">
                    <img alt="GIF Image" class="img-fluid" src="/static/images/bootstrap5.jpeg"  width="200px">

                    <h5 class="my-3 fw-normal ">Bootstrap</h5>
                    <p class="pe-3 mb-5">
                        Bootstrap 5 is a front-end framework that simplifies and accelerates web design. It provides a collection of pre-designed components, such as responsive grids, navigation bars, and modals, making it easier to create visually appealing and responsive web applications .
                    </p>
                </div>
            </div>

            <div class="col-xxl-4 col-lg-4 col-12  ">
                <div style="height: 600px;" class=" card-box rounded-2 p-5 text-center shadow">
                    <img alt="GIF Image" class="img-fluid" src="/static/images/jquery2.png" width="200px">

                    <h5 class="my-3 fw-normal">Jquery</h5>
                    <p class="pe-3 mb-5">
                        jQuery is a JavaScript library that simplifies DOM manipulation and event handling. It streamlines the process of selecting and manipulating HTML elements, enabling developers to write concise and efficient code for tasks like animations, AJAX requests, and interactive user interfaces.
                    </p>
                   
                </div>
            </div>

            <div class="col-xxl-4 col-lg-4 col-12 ">
                <div style="height: 600px;" class=" card-box rounded-2 p-5 text-center shadow">
                    <img alt="GIF Image" class="img-fluid" src="/static/images/react.png" width="200px">
                    <h5 class="my-3 fw-normal ">React js</h5>
                    <p class="pe-3 mb-5">
                        React.js is a powerful JavaScript library for building user interfaces. It enables developers to create reusable UI components, manage the state efficiently, and build scalable and maintainable applications
                    </p>
                   
                </div>
            </div>
            
        </div>
    </div>

</section>

<!-- --------------------------- backend skills section--------------------- -->
<section class=" services-section">
    <div class="container text-center common-title fw-bold">
        <h2 class="common-heading">My Skill <br>As a Backend Web Developer</h2>
        <hr class="w-25 mx-auto ">
    </div>

    <div   class="container mt-5">
        <div class="row g-5 ">
            <div class="col-xxl-4 col-lg-4 col-12 ">
                <div style="height: 600px; " class=" card-box rounded-2 p-5 text-center shadow">
                    <img alt="GIF Image" class="img-fluid" src="/static/images/python.jpeg"  width="200px">

                    <h5 class="my-3 fw-normal ">Python</h5>
                    <p class="pe-3 mb-5">
                        Python is a versatile and high-level programming language known for its simplicity and readability. It is popular in software development for tasks ranging from web development and automation to data analysis and machine learning.
                    </p>
                </div>
            </div>

            <div class="col-xxl-4 col-lg-4 col-12  ">
                <div style="height: 600px;" class=" card-box rounded-2 p-5 text-center shadow">
                    <img alt="GIF Image" class="img-fluid" src="/static/images/mongodb.png" width="200px">

                    <h5 class="my-3 fw-normal">Mongodb</h5>
                    <p class="pe-3 mb-5">
                        MongoDB is a NoSQL database that provides high performance, high availability, and easy scalability. It stores data in flexible, JSON-like documents, making it ideal for handling complex, hierarchical data. MongoDB's schema-less design allows for quick iteration and agile development, enabling developers to adapt to changing requirements with ease.
                    </p>
                   
                </div>
            </div>

            <div class="col-xxl-4 col-lg-4 col-12 ">
                <div style="height: 600px;" class=" card-box rounded-2 p-5 text-center shadow">
                    <img alt="GIF Image" class="img-fluid" src="/static/images/flask.png" width="200px">
                    <h5 class="my-3 fw-normal ">Flask </h5>
                    <p class="pe-3 mb-5">
                        Flask is a lightweight and flexible web framework for Python that is easy to set up and use. It provides the essential tools to create web applications and APIs, making it ideal for small to medium-sized projects. Flask's simplicity and modularity allow developers to build scalable applications by integrating extensions as needed. Its minimalistic approach and ease of use make Flask a popular choice for rapid development and prototyping.
                    </p>
                   
                </div>
            </div>
        </div>
    </div>

</section>



<!-- --------------------------- other skills section--------------------- -->

<section class="common-section business-section" id="online_services">
    <div class="container text-center fw-bold common-title">
        <h2 class="common-heading">Other Skills</h2>
        <hr class="w-25 mx-auto ">
    </div>

   
    <div   class="container mt-5">
        <div class="row g-5 ">
            <div class="col-xxl-4 col-lg-4 col-12 ">
                <div style="height: 600px; " class=" card-box rounded-2 p-5 text-center shadow">
                    <img alt="GIF Image" class="img-fluid" src="/static/images/redhat.png"  width="200px">

                    <h5 class="my-3 fw-normal ">RedHat</h5>
                    <p class="pe-3 mb-5">
                        Red Hat is a leading provider of enterprise open-source solutions, renowned for its robust, secure, and scalable Linux distributions. Red Hat Enterprise Linux (RHEL) offers a stable and secure platform for deploying applications and managing workloads across diverse environments. With comprehensive support, extensive documentation, and a strong focus on innovation, Red Hat empowers organizations to achieve their IT goals efficiently and effectively.
                    </p>
                   
                </div>
            </div>

            <div class="col-xxl-4 col-lg-4 col-12  ">
                <div style="height: 600px;" class=" card-box rounded-2 p-5 text-center shadow">
                    <img alt="GIF Image" class="img-fluid" src="/static/images/aws.jpg" width="200px">

                    <h5 class="my-3 fw-normal">AWS Web Server</h5>
                    <p class="pe-3 mb-5">
                        Amazon Web Services (AWS) is a comprehensive cloud computing platform that offers a wide range of services, including computing power, storage, and databases, among others. AWS enables businesses to scale their infrastructure globally, improve reliability, and reduce costs by only paying for the services they use. With a robust suite of tools for machine learning, analytics, and DevOps, AWS helps organizations accelerate innovation and achieve greater agility in their operations.
                    </p>
                    
                </div>
            </div>

            <div class="col-xxl-4 col-lg-4 col-12 ">
                <div style="height: 600px;" class=" card-box rounded-2 p-5 text-center shadow">
                    <img alt="GIF Image" class="img-fluid" src="/static/images/ajax.png" width="200px">
                    <h5 class="my-3 fw-normal "> AJAX </h5>
                    <p class="pe-3 mb-5">
                        Ajax is a technique that allows web applications to send and receive data from a server asynchronously without requiring a full page reload. By using Ajax, developers can create dynamic and responsive web experiences, where content can be updated in the background.
                    </p>
                   
                </div>
            </div>
        </div>
    </div>
    <div   class="container mt-5">
        <div class="row g-5 ">
            <div class="col-xxl-4 col-lg-4 col-12 ">
                <div style="height: 600px; " class=" card-box rounded-2 p-5 text-center shadow">
                    <img alt="GIF Image" class="img-fluid" src="/static/images/linux.jpeg"  width="200px">

                    <h5 class="my-3 fw-normal ">Linux</h5>
                    <p class="pe-3 mb-5">
                        Linux is an open-source operating system that provides a stable and customizable environment for software development. It is widely used for server hosting, development workstations, and embedded systems.
                    </p>
                   
                </div>
            </div>

            <div class="col-xxl-4 col-lg-4 col-12  ">
                <div style="height: 600px;" class=" card-box rounded-2 p-5 text-center shadow">
                    <img alt="GIF Image" class="img-fluid" src="/static/images/github.png" width="200px">

                    <h5 class="my-3 fw-normal"> GitHub </h5>
                    <p class="pe-3 mb-5">
                        GitHub is a web-based platform for version control and collaborative software development. It enables developers to host, manage, and collaborate on code repositories, making it easier to track changes, coordinate teamwork, and contribute to open-source projects efficiently.
                    </p>
                 
                </div>
            </div>

            <div class="col-xxl-4 col-lg-4 col-12 ">
                <div style="height: 600px;" class=" card-box rounded-2 p-5 text-center shadow">
                    <img alt="GIF Image" class="img-fluid" src="/static/images/docker.png" width="200px">
                    <h5 class="my-3 fw-normal ">Docker</h5>
                    <p class="pe-3 mb-5">
                        Docker is a platform that enables developers to automate the deployment of applications inside lightweight, portable containers. These containers encapsulate an application and its dependencies, ensuring consistency across different environments. Docker streamlines the development process, facilitates continuous integration and delivery, and enhances scalability by allowing multiple containers to run on a single host.






                    </p>
                   
                </div>
            </div>
        </div>
    </div>
</section>


<!-- --------------------------- contact me section--------------------- -->


<section class="common-section bg-color contact-section text-white">
    <div class="custom-shape-divider-top-1684211116">
        <svg data-name="Layer 1" preserveAspectRatio="none" viewBox="0 0 1200 120" xmlns="http://www.w3.org/2000/svg">
            <path class="shape-fill"
                  d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"></path>
        </svg>
    </div>

    <div class="container text-center fw-bold common-title ">
        <h2 class="common-heading text-white ">Contact Me</h2>
        <hr class="w-25 mx-auto">
    </div>

    <div class="container ">
        <div class="form-section  mx-auto">
            <form action="your_connect_string" method="get">
                <div class="mb-3">
                    <div class="row">
                        <div class="col">
                            <label class="form-label" for="first-name">First name</label>
                            <input name="fname" class="form-control" id="first-name" placeholder="First name"
                                   aria-label="First name" type="text" required>
                        </div>
                        <div class="col">
                            <label for="last-name" class="form-label">Last name</label>
                            <input type="text" name="lname" class="form-control" id="last-name" placeholder="Last name"
                                   aria-label="Last name" required>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input name="email" type="email" class="form-control" id="exampleInputEmail1" required
                           placeholder="Enter your email" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text text-white">We'll never share your email with anyone else.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Write a Message</label>
                    <textarea name="message" class="form-control" id="exampleFormControlTextarea1" required
                              placeholder="Enter your message " rows="3"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

</section>



<!-- --------------------------- footer section--------------------- -->

<footer class="main-footer-section">
    <div class="contact-details">
        <div class="container px-5">
            <div class="row g-0">
                <div class="col-lg-4 ">
                    <div class="contact-div p-5 d-flex flex-column justify-content-center align-items-center">
                        <div class="icon-div d-flex justify-content-center align-items-center rounded-circle mb-3">
                            <img src="/static/images/icons8-phone.gif" alt="GIF Image" class="img-fluid">
                        </div>
                        <p class="text-white">(+91) 9317738883</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <hr class="container mx-auto">

            <div class="row">
                <div class="col-lg-8 col-12 ">
                    Copyright ©2023 All rights reserved. | This template is made with by <span class="bg-theme">Sarvesh Sharma</span>
                </div>
                <div class="col-md-4 col-12  ">
                    <div class="d-flex justify-content-center justify-content-lg-end gap-5 mt-lg-0 mt-3">
                        <a href="https://www.linkedin.com/in/sarvesh-sharma883/" target="_blank">
                            <div class="icon-span d-flex justify-content-center align-items-center rounded-circle mb-3">
                                <i class="fa-brands fa-linkedin-square"></i>
                            </div>
                        </a>
                        <a href="https://github.com/sarvesh988" target="_blank">
                            <div class="icon-span d-flex justify-content-center align-items-center rounded-circle mb-3">
                                <i class="fa-brands fa-github"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
</body>
</html>